<%= render 'shared/error_messages', :object => @simulation %>

<%= render 'show' %>

<div id="simulation">
	<div class="progress">
	    <div class="progress-bar", id="sim_progress_bar", style="width: 0%;"></div>
	</div>
	<div class="message"></div>	
</div>

	
	
