<div class="col-sm-2"></div>
<div class="col-sm-10">
<h3>Temperatures  <%= image_tag "temperature-icon.png"%></h3>
<table class="table table-bordered table-hover table-condensed">
  <thead>
   <tr>
	  <th>Distance (kmp)</th>
      <th>Temperature<br>(deg C)</th>
    </tr>
  </thead>

  <tbody>
	<% @pipeline.temperatures.order(kmp: :asc).each do |temperature| %>
      <tr>
		<td><%= link_to temperature.kmp, pipeline_temperature_path(temperature.pipeline_id, temperature.id) %></td>
        <td><%= temperature.temperature %></td>
      </tr>
	<% end %>
	<td colspan="2"><%= link_to 'Add Temperature', new_pipeline_temperature_path(@pipeline), class: 'btn btn-success' %></td>
  </tbody>
</table>
</div>

