<h3>Station</h3>
<table class="table table-bordered table-hover table-condensed">
  <thead>
    <tr>
	  <th>Distance (kmp)</th>
      <th>Station Name</th>
	  <th>Number of Pumping Units</th>
    </tr>
  </thead>

  <tbody>
      <tr>
		<% number_of_units = @station.units.count %>
		<td><%= @station.kmp  %></td>
        <td><%= @station.name %></td>
		<td><%= number_of_units %></td>
      </tr>
  </tbody>
</table>