<h2>Station</h2>
<table class="fixed", style="width: 500px;">
  <thead>
    <tr>
	  <th>Distance (kmp)</th>
      <th>Station Name</th>
	  <th></th>
    </tr>
  </thead>

  <tbody>
      <tr>
		<td><%= @station.kmp  %></td>
        <td><%= @station.name %></td>
		<td></td>
      </tr>
  </tbody>
</table>