<h2>Headpoints</h2>
<table>
  <% head_units = @pump.head_units %>
  <% flow_units = @pump.flow_units %>
  <thead>
    <tr>
      <th>Flow (gallons/min)</th>
      <th>Head (Feet)</th>
    </tr>
  </thead>
  <tbody>
    <% @pump.headpoints.order(flow: :asc).each do |headpoint| %>
	  <% if !headpoint.id.nil? then %>
	      <tr>
	        <td><%= link_to headpoint.flow.round(2), pump_headpoint_path(headpoint.pump_id, headpoint.id) %></td>
	        <td><%= headpoint.head.round(2) %></td>
	      </tr>
	  <% end %>
	<% end %>
    <tr><td colspan="2"><%= link_to 'Add Headpoint', new_pump_headpoint_path(@pump) %></td></tr>
  </tbody>
</table>

<br>


