<div class="col-sm-2"></div>
<div class="col-sm-10">
<h3 class="col-sm-4">Elevations  <%= image_tag "elevation-icon.png"%></h3>
<h3 class="col-sm-8 text-right"><%= link_to 'Add Elevation', new_pipeline_elevation_path(@pipeline), class: 'btn btn-success' %></h3>

<table class="table table-bordered table-hover table-condensed">
  <thead>
   <tr>
	  <th>Distance (kmp)</th>
      <th>Elevation</th>
    </tr>
  </thead>

  <tbody>
	<% @pipeline.elevations.order(kmp: :asc).each do |elevation| %>
      <tr>
		<td><%= link_to elevation.kmp, pipeline_elevation_path(elevation.pipeline_id, elevation.id) %></td>
        <td><%= '%.2f' % elevation.elevation %></td>
      </tr>
	<% end %>
  </tbody>
</table>
</div>
