<% if @results.empty? then %>
	<h3 class="error">Simulation results are not available at this point, please run a simulation</h2>
<% else %>
	<% simulation_id = @results.first.simulation_id %>
	<% @simulation = Simulation.find {|s| s.id == simulation_id} %>
	<%= render 'simulations/show' %>
<% end %>

