<%= render 'top' %>

<div id="results">
<% btsqar = Array.new %>
<% stations = Array.new %>
<% stn_ix = 0 %>
<% @results.take_while{|i| i.step == 1 and i.batch_sequence_data != nil}.each do |r| %>
	<% stations[stn_ix] = r.stat %>
	<% station_batches = r.batch_sequence_data %>
	<% btsqar[stn_ix] = station_batches %>
	<% stn_ix = stn_ix + 1 %>
<% end %>
<% num_stations = stations.size %>
<% num_batches = btsqar[0].size %>

<h3>Batch Sequence</h3>
<table class="table table-bordered table-hover table-condensed">
  <tbody>
	  <% stn_ix = 0 %>
	  <thead>
		  <tr>
		    <th>Batch</th>
		    <% while stn_ix < num_stations %>
		      <th> <%= stations[stn_ix] %> </th>
			  <% stn_ix = stn_ix + 1 %>
			<% end %>
		  </tr>
	  </thead>
	  <% batch = 0 %>
	  <% while batch < num_batches %>
	    <% stn_ix = 0 %>
		<tr>
		  <% batch_id = btsqar[stn_ix][batch].batch_id %>
		  <td><%= batch_id %></td>
	      <% while stn_ix < num_stations %>
			    <% if btsqar[stn_ix][batch].activity_type == "DELIVERY" or btsqar[stn_ix][batch].activity_type == "LANDING" then %>
				    <% volume = btsqar[stn_ix - 1][batch].volume %>
			    <% else %>
				    <% volume = btsqar[stn_ix][batch].volume %>
			    <% end %>
			    <% if (volume > 0) then %>
				    <td><%= number_with_precision(volume, :precision => 1, :delimiter => ',') %></td>
			    <% else %>
				    <td></td>
			    <% end %>
		      <% stn_ix = stn_ix + 1 %>
	      <% end %>
	    </tr>
		  <% batch = batch + 1 %>
    <% end %>
  </tbody>
</table>
</div>
