<h2>Pipelines</h2>
<table>
  <thead>
   <tr>
	 <% if current_user.admin? then %>
		<th>User</th>
	 <% end %>
     <th>Name</th>
	 <th>Description</th>
    </tr>
  </thead>

  <tbody>
	<% @pipelines.order(name: :asc).each do |pipeline| %>
	  <% if !pipeline.errors.any? %>
	      <tr>
			<% if current_user.admin? then %>
				<td><%= (User.find {|u| u.id == pipeline.user_id}).email %></td>
			<% end %>
	        <td><%= link_to pipeline.name, pipeline_path(pipeline) %></td>
	        <td><%= pipeline.description %></td>
	      </tr>
	  <% end %>
	<% end %>
	<td colspan="2"><%= link_to 'Add Pipeline', new_pipeline_path %></td>
  </tbody>
</table>


