<h2>Pipeline</h2>
<table class="toedit">
  <thead>
    <tr>
	  <% if current_user.admin? then %>
		<th>User</th>
	  <% end %>
      <th>Pipeline Name</th>
	  <th>Description</th>
    </tr>
  </thead>

  <tbody>
    <tr>
	  <% if current_user.admin? then %>
		<td><%= (User.find {|u| u.id == @pipeline.user_id}).email %></td>
	  <% end %>
      <td><%= @pipeline.name %></td>
      <td><%= @pipeline.description %></td>
    </tr>
  </tbody>
</table>