<h2>Pipeline</h2>
<table class="fixed", style="width: 860px;">
  <thead>
    <tr>
      <th>Pipeline Name</th>
	  <th>Description</th>
    </tr>
  </thead>

  <tbody>
    <tr>
      <td><%= @pipeline.name %></td>
      <td><%= @pipeline.description %></td>
    </tr>
  </tbody>
</table>