<title>Phastline Pipeline Hydraulics Simulation Program.  Free of charge and available to anyone interested in learning more about how a pipeline is constructed and operated.</title>
<meta name="A batched pipeline hydraulics simulation application available to the general public free of charge.  This application models the operation of a pipeline by accepting a user specified pipeline configuration with pipe segments, stations with pumps and a set of nominations specifying the volume and types of products desired to be pumped through the line.  It will calculate pressures, capacity flowrates, bottlenecks and power usage at all significant times steps during the simulation." CONTENT="Developer: Warren Shockey, Seraphim Consulting Company December 2017.">
<h3 style="text-align:center">Phastline</h3>
<h2 style="text-align:center">Version: 1.12</h2>
<h3 style="text-align:center">10-Dec-2017</h3>
<br>
<br>
<h3>Features planned for future releases:</h3>
<ul>
	<li>More rules for controlling how batches are created and sequenced</li>
	<li>Side stream and breakout operations</li>
	<li>Unit Selections to better select pumps at stations when flowrates are below capacity</li>
	<li>Efficiency curves and Npsh curves for pumps</li>
	<li>PLC modeling to control pressures at stations</li>
	<li>Add Tank Modeling</li>
	<li>Incorporate unit conversions so various different system of units can be used</li>
	<li>Add graphics capabilities for viewing results</li>
	<li>Parallel pipe modeling</li>
</ul>
