<h3>Phastline</h3>
Version: 0.1<br>
Date: 22-Jan-2017<br>

Phastware is a suite of applications developed for modelling pipeline operations.  Phastline is an application that simulates the movement of batches through a pipeline, determining capacity and pressure profiles along the pipeline.