<title>Phastware Pipeline Hydraulics Application Software</title>

<h1>Welcome to phastware.com</h1>

<div class="col-sm-12">Phastware is a suite of pipeline hydraulics simulation and modelling software tools for pipeline operators, engineers or analysts.  Phastware is an acronym for "Pipeline Hydraulics Application Software Tools".  The Phastline application is one of the products that is available to the general public free of charge so if interested, use the "Sign-Up" link provided below to register for an account.  Please contact me at <%= mail_to "wmshockey@gmail.com" %> for any feedback, questions or if you require support on how to use the application.  Thank-you.</div>

<h3 class="col-sm-12"><%= link_to 'Sign-In', user_session_path %> to run the Phastline application or <%= link_to 'Sign-Up', new_user_registration_path %> to request a user account</h3>

<h3 class="col-sm-12">View the <%= link_to 'documentation', "/pages/help" %></h3>


