<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-130202276-2"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-130202276-2');
</script>


<title>Phastline Pipeline Hydraulics Simulation Program from Phastware Consulting Ltd. based in Calgary, Alberta, Canada.  It is free of charge and available to anyone interested in learning more about how a pipeline is constructed and operated.  This is a pipeline simulation and modeling application that provides reports of a pipeline's operational capacity, operating pressures, flowrates and power usage.  It uses industry standard formulas for calculating pipeline pressure loss, temperature variations in viscosity and density of fluids and both parallel and series combinations of pump curves.'</title>
<meta name="description" content="A batched pipeline hydraulics simulation application available to the general public free of charge.  This application models the operation of a pipeline by accepting a user specified pipeline configuration with pipe segments, stations with pumps and a set of nominations specifying the volume and types of products desired to be pumped through the line.  It will calculate pressures, capacity flowrates, bottlenecks and power usage at all significant times steps during the simulation.  Developer: Warren Shockey, Phastware Consulting Company February 2019.  Calgary, Alberta, Canada">
<meta name="viewport" content="width=device-width, initial-scale=1">

<div class="container">
	<h1>Welcome to phastware.com</h1>

	<div class="col-sm-12"><p><strong>UPDATE (DEC 9, 2020)</strong> <i>The Phastline Pipeline Hydraulic Simulation model previously available on this site has been temporarily shut down until further notice.  My intention is to do a major overhaul and upgrade of the application but there is no timeline for completion right now.  You can still run the pipeline lineloss calculation program using the link below.   If you have any questions or concerns, please contact me at <%= mail_to "wmshockey@gmail.com" %>.  Thank-you. </i></p></div>

	<div class="col-sm-12"><p>Phastware is a Calgary based company that provides IT consulting and website development expertise to Canadian organizations who need to rapidly establish and/or maintain an online presence within their community.  We specialize in rapidly developing robust online web based solutions allowing businesses to communicate and carry out transactions with their customer/client base.</p></div>
	

	<h4 class="col-sm-12">Run the <%= link_to 'Pipeline Lineloss Calculator', "/pages/calculator"%> program</h4>
	

</div>