<h1>Welcome to phastware.com</h1>

Phastware is a suite of pipeline hydraulics simulation and modelling software tools for pipeline operators, engineers or analysts.  Phastware is an acronym for "Pipeline Hydraulics Application Software Tools".  It was developed by the Seraphim Consulting company based out of Calgary, AB, Canada and is based on the extensive experience of individuals who have worked in the pipeline industry over many decades.

<h3>Sign in or Sign up to run the Phastline application here: <%= link_to 'Phastline', user_session_path %></h3>

<h3>View the help documentation for Phastline here: <%= link_to 'Help', "/pages/help" %></h3>



