<title>Phastline Pipeline Hydraulics Simulation Program.  Free of charge and available to anyone interested in learning more about how a pipeline is constructed and operated.</title>
<meta name="A batched pipeline hydraulics simulation application available to the general public free of charge.  This application models the operation of a pipeline by accepting a user specified pipeline configuration with pipe segments, stations with pumps and a set of nominations specifying the volume and types of products desired to be pumped through the line.  It will calculate pressures, capacity flowrates, bottlenecks and power usage at all significant times steps during the simulation." CONTENT="Developer: Warren Shockey, Phastware Consulting Company February 2019.">

<h3>Terms of Service</h3>
<div class="col-sm-12 text-right"><%= link_to 'Back', :back, class: 'btn btn-success' %></div>

<h4>Introduction.</h4>
These Website Standard Terms And Conditions (these “Terms” or these “Website Standard Terms And Conditions”) contained herein on this webpage, shall govern your use of this website, including all pages within this website (collectively referred to herein below as this “Website”). These Terms apply in full force and effect to your use of this Website and by using this Website, you expressly accept all terms and conditions contained herein in full. You must not use this Website, if you have any objection to any of these Website Standard Terms And Conditions.

<h4>Intellectual Property Rights.</h4>
Other than content you own, which you may have opted to include on this Website, under these Terms, Phastware Consulting Ltd. and/or its licensors own all rights to the intellectual property and material contained in this Website, and all such rights are reserved.
You are granted a limited license only, subject to the restrictions provided in these Terms, for purposes of viewing the material contained on this Website,

<h4>Restrictions.</h4>
You are expressly and emphatically restricted from all of the following:
<ul>
	<li>publishing any Website material in any media;</li>
	<li>selling, sublicensing and/or otherwise commercializing any Website material;</li>
	<li>publicly performing and/or showing any Website material;</li>
	<li>using this Website in any way that is, or may be, damaging to this Website;</li>
	<li>using this Website in any way that impacts user access to this Website;</li>
	<li>using this Website contrary to applicable laws and regulations, or in a way that causes, or may cause, harm to the Website, or to any person or business entity;</li>
	<li>engaging in any data mining, data harvesting, data extracting or any other similar activity in relation to this Website, or while using this Website;</li>
	<li>using this Website to engage in any advertising or marketing;</li>
	<li>Certain areas of this Website are restricted from access by you and Phastware Consulting Ltd. may further restrict access by you to any areas of this Website, at any time, in its sole and absolute discretion.  Any user ID and password you may have for this Website are confidential and you must maintain confidentiality of such information.</li>
</ul>

<h4>Your Content.</h4>
In these Website Standard Terms And Conditions, “Your Content” shall mean any text, data, images or other material you choose to enter and display on this Website.  Your Content must be your own and must not be infringing on any third party’s rights. Phastware Consulting Ltd. reserves the right to remove any of Your Content from this Website at any time, and for any reason, without notice.

<h4>No warranties.</h4>
This Website is provided “as is,” with all faults, and Phastware Consulting Ltd. makes no express or implied representations or warranties, of any kind related to this Website or the materials contained on this Website. Additionally, nothing contained on this Website shall be construed as providing consult or advice to you.

<h4>Limitation of liability.</h4>
In no event shall Phastware Consulting Ltd., nor any of its officers, directors and employees, be liable to you for anything arising out of or in any way connected with your use of this Website, whether such liability is under contract, tort or otherwise, and Phastware Consulting Ltd., including its officers, directors and employees shall not be liable for any indirect, consequential or special liability arising out of or in any way related to your use of this Website.

<h4>Indemnification.</h4>
You hereby indemnify to the fullest extent Phastware Consulting Ltd. from and against any and all liabilities, costs, demands, causes of action, damages and expenses (including reasonable attorney’s fees) arising out of or in any way related to your breach of any of the provisions of these Terms.

<h4>Severability.</h4>
If any provision of these Terms is found to be unenforceable or invalid under any applicable law, such unenforceability or invalidity shall not render these Terms unenforceable or invalid as a whole, and such provisions shall be deleted without affecting the remaining provisions herein.

<h4>Variation of Terms.</h4>
Phastware Consulting Ltd. is permitted to revise these Terms at any time as it sees fit, and by using this Website you are expected to review such Terms on a regular basis to ensure you understand all terms and conditions governing use of this Website.

<h4>Assignment.</h4>
Phastware Consulting Ltd. shall be permitted to assign, transfer, and subcontract its rights and/or obligations under these Terms without any notification or consent required. However, you shall not be permitted to assign, transfer, or subcontract any of your rights and/or obligations under these Terms.

<h4>Entire Agreement.</h4>
These Terms, including any legal notices and disclaimers contained on this Website, constitute the entire agreement between Phastware Consulting Ltd. and you in relation to your use of this Website, and supersede all prior agreements and understandings with respect to the same.

<h4>Governing Law & Jurisdiction.</h4>
These Terms will be governed by and construed in accordance with the laws of the Province of Alberta, and you submit to the non-exclusive jurisdiction of the province and federal courts located in Alberta for the resolution of any disputes.

<br>
<br>
<div>
<%= link_to 'Back', :back, class: 'btn btn-success' %>
</div>