// Place all the styles related to the Simulations controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body {
	background: url('bg.jpg');
	background-repeat-y: no-repeat;	
} 

.success {background-color: #4CAF50;} /* Green */
.success:hover {background-color: #46a049;}

.progress {
	visibility: hidden;	
}

.copyright {
	font-size: 10px;
	vertical-align: text-top;
}

.thumbnail {
    position: relative;
}

.caption {
    position: absolute;
    top: 45%;
    left: 0;
    width: 100%;
}